* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

footer {
    background: #282828;
    color: white;
    height: 6em;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    height: calc(100% - 6em);
}

a {
    text-decoration: none;
    color: #717171;
}

/* Classi Atomiche */

.wid1 {
    width: 1em;
}

.wid2 {
    width: 2em;
}

.wid3 {
    width: 3em;
}

.wid4 {
    width: 4em;
}

.w50 {
    width: 50%;
}

.mT07 {
    margin-top: 0.7em;
}

.font08 {
    font-size: 0.8em;
}

.font1punto2 {
    font-size: 1.2em;
}

.font3 {
    font-size: 3em;
}

.center {
    text-align: center;
}

.hidden {
    overflow: hidden;
}

.white {
    color: white;
}

.gray {
    color: #717171;
}

.paddingContainer {
    padding: 1.5em 0.5em;
}

.borderR50 {
    border-radius: 50%;
}

/* NAV MENU */

.logo {
    width: 10em;
    margin: 1em 0;
}

.nav {
    background-color: black;
    color: white;
    width: 3em;
}

.upgrade {
    background-color: #2828284f;
}

.profile {
    background-color: gray;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

    /* XS */
.xsNav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center;
}

.nav .xsTop a {
    display: inline-block;
    margin: 0.2em 0;
}

.marginProfile {
    margin: 1em 0.5em;
}

    /* Large */
.largeNav {
    display: none;
    height: 100%;
}

.largeTop {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.largeBot {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.largeBot hr {
    margin-right: 1.5em;
    border: 0.1em solid;
}

.navLink {
    display: flex;
    align-items: center;
    margin: 0.1em 0;
}

.playH2 {
    font-size: 1em;
    margin: 2em 0 0.5em 0;
}

.playlist {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 30%;
}

.playlist a {
    margin: 0.7em 0;
}

.lrgBot {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}



/* CONTENUTO MAIN */

.mainContainer {
    background: #141922;
    color: white;
    width: calc(100% - 3em);
    overflow: auto;
}

.upgrade {
    height: 5em;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
}

.upBtn {
    border: 1px solid;
    color: white;
    border-radius: 2em;
    padding: 0.8em 3em;
}

.menu {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.menu a {
    margin: 0.5em 1em;
    display: inline-block;
}

.greenBrdBot {
    border-bottom: 0.2em solid #ADFF2E;
}

.secondContainer {
    padding: 1em;
}

.secondContainer p {
    color: #717171;
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 0.5em;
}

.secondContainer h3 {
    padding-top: 0.5em;
}

    /* Songs */

    .songContainer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .song {
        width: calc(100% / 2);
        padding: 0.5em;
    }

    .song img {
        max-width: 100%;
    }

/* CONTENUTO FOOTER */

.footL {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.footLmid {
    padding-left: 1em;
    margin-right: 2em;
}

.greenBrd {
    border-left: 0.2em solid #ADFF2E;
}

.blackBrd {
    border-left: 0.2em solid black;
}

    /* Footer mid */
    .footC {
        height: 80%;
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        width: 35em;
    }

    .ftTop {
        height: 50%;
        text-align: center;
        letter-spacing: 0.5em;
    }

    .ftBot {
        display: flex;
        height: 50%;
    }

    .bar {
        flex-grow: 1;
        background-color: #5A5A5A;
        min-width: 11em;
        max-height: 0.4em;
        border-radius: 1em;
        margin: 0.2em;
    }

    /* Footer Right */

    .footR {
        flex-direction: column;
    }

    .footR,
    .volume {
        display: flex;
    }

    .footR i {
        margin: 0.3em 0.8em;
    }

    .volBar {
        background-color: #5A5A5A;
        min-width: 9em;
        max-height: 0.4em;
        border-radius: 1em;
        margin: 0.5em 0.2em;
    }

.imgFoot {
    padding-top: 4px;
}

.statusBar {
    width: 15%;
    height: 0.4em;
    background: #C1C1C1;
    border-radius: 1em;
}

/* MEDIA QUERY ***********************************************************/

@media screen and (min-width: 630px) {
    /* Nav Bar */
    .nav {
        width: 15em;
    }

    .largeTop > div,
    .largeBot,
    .logo {
        padding-left: 1.5em;
    }

    nav .xsNav {
        display: none;
    }

    nav .largeNav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navLink > a,
    .lrgBot > a {
        margin-right: 0.5em;
    }

    /* Main */
    .mainContainer {
        width: calc(100% - 15em);
    }

    /* Footer */

}

@media screen and (min-width: 800px) {
    .song {
        width: calc(100% / 4);
    }

    .footR {
        flex-direction: row;
    }

    .footR i {
        margin: 0 0.8em;
    }

    .volBar {
        margin: 0.2em;
    }
}

@media screen and (min-width: 1200px) {
    .song {
        width: calc(100% / 6);
    }
}